.projects {
    min-height: 200vh;
    position: relative;
}

/* page content container */
.projects .content {
    height: 100vh;
    position: sticky;
    top: 0;
}

/* header */
.projects .content > h3 {
    font-size: 1.1em;
    font-weight: 400;
    padding: 4em 0;
}

/* project card container */
.projects .card-container {
    align-items: center;
    width: fit-content;
    display: flex;
}