.mobile-nav {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: -100vh;
    right: 0;
    z-index: 2;
    background-color: rgb(204, 206, 200);
    border-bottom: 3px solid var(--brown);
    text-align: right;
    padding-top: 2em;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    transition-duration: 700ms;
}

/* nav list item  */
.mobile-nav li {
    font-size: 1.8em;
    font-weight: 200;
    padding-right: 8vw;
    margin: 2em 0;
}

/* second ul list items */
.mobile-nav ul:last-of-type li {
    font-size: .9em;
    font-weight: 500;
}

/* move down when nav is open  */
.mobile-nav.open {
    top: 0;
}

/* smaller screen styles */
@media screen and (min-width: 861px) {
    .mobile-nav {
        display: none;
    }
}