.mobile-nav {
    box-sizing: border-box;
    width: 100vw;
    height: 270px;
    position: fixed;
    top: -270px;
    right: 0;
    z-index: 2;
    background-color: rgba(199, 206, 195, 0.839);
    border: 1px solid var(--brown);
    text-align: right;
    padding-top: 2em;

    display: flex;
    flex-direction: column;
    justify-content: center;

    transition-duration: 700ms;
}

/* nav list item  */
.mobile-nav li {
    padding-right: 2em;
    margin: 1em 0;
}

/* move down when nav is open  */
.mobile-nav.open {
    top: 0;
}

/* smaller screen styles */
@media screen and (min-width: 861px) {
    .mobile-nav {
        display: none;
    }
}