.about {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* page content container  */
.about .content {
    box-sizing: border-box;
    width: 100%;
    display: flex;
    font-weight: 300;
    font-size: 16px;
    justify-content: space-between;
    padding: 4em;
    text-align: left;
}

/* text container  */
.about .text {
    display: flex;
    flex-direction: column;
    gap: 5em;
    overflow: hidden;
    border-left: 1px solid rgb(40, 35, 33);
    height: fit-content;
}

/* paragraph */
.about .text > p {
    box-sizing: border-box;
    width: 34em;
    line-height: 1.5em;
    font-size: 16px;
    padding: 1.5em;
}
/* highlighted words  */
.about strong {
    font-weight: 400;
    color: #5c8d64;
}

.about .content button {
    width: fit-content;
    font-size: 12px;
}

/* career container  */
.about .content .career {
    width: 20em;
    box-sizing: border-box;
    overflow: hidden;
}

/* career item headers  */
.about .career h3 {
    border-bottom: 1px solid #8b8787;
    padding: 0 .2em .5em;
    margin-top: 8em;
}
.about .career h3:first-of-type {
    margin-top: 0;
}

/* awards list  */
.career ul {
    margin: 1.6em 0;
}
.career ul > li {
    font-size: 13px;
    margin: .8em 0;
}

/* career item  */
.about .career-item {
    box-sizing: border-box;
    font-size: 13px;
    padding: 0 .3em;
    margin: 3em 0;
}
/* career item title */
.about .career-item > h4 {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: .4em;
}
/* career item description */
.about .career-item > p:last-of-type {
    margin-top: .8em;
    line-height: 1.2em;
}

@media screen and (max-width: 820px) {
    .about .content {
        flex-direction: column;
        padding: 1em;
    }

    .about .text > p {
        width: 100%;
        padding: 10px;
    }
    .about .content .career {
        width: 100%;
    }
    .about .career-item {
        margin: 1.5em 0;
    }
    
}