.about {
    min-height: 110vh;
}

/* page content container  */
.about .content {
    display: flex;
    font-weight: 300;
    font-size: 16px;
    justify-content: space-between;
    padding: 4em;
    text-align: left;
}

/* paragraph */
.about .content > p {
    width: 40em;
    line-height: 1.4em;
}

/* career container  */
.about .content .career {
    width: 20em;
}

/* career item headers  */
.about .career h3 {
    border-bottom: 1px solid #8b8787;
    padding: 0 .5em .5em;
    margin-top: 8em;
}

/* career item  */
.about .career-item {
    font-size: 13px;
    padding: 0 .3em;
    margin: 3em 0;
}
/* career item title */
.about .career-item > h4 {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: .2em;
}
/* career item description */
.about .career-item > p:last-of-type {
    margin-top: .8em;
}