.project-card {
    font-size: 14px;
    width: 26em;
    height: 34em;
    padding: 10px;
    margin: 0 3em;
    border: 1px solid black;

    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-around;
    cursor: pointer;
    transition-duration: 500ms;
}
.project-card:hover {
    background-color: rgba(255, 243, 240, 0.442);
    font-size: 14.8px;
}

/* headers */
.project-card h2 {
    font-size: 1.3em;
}
.project-card h3 {
    font-size: 1em;
}

/* image container  */
.project-card .image {
    width: 100%;
    height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: saturate(90%);
    filter: opacity(90%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* adjust size for small screens  */
@media screen and (max-width: 580px) {
    .project-card {
        font-size: 12px;
    }
}