.project-card {
    font-size: 15px;
    width: 27em;
    margin: 0 4em;
    border: 1px solid rgb(40, 35, 33);


    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    transition-duration: 400ms;
    position: relative;
}
.project-card:hover {
    background-color: rgba(238, 255, 213, 0.341);
}

/* text container  */
.project-card > .text {
    margin: 1.6em .7em;
    display: flex;
    flex-direction: column;
}

/* headers */
.project-card h2 {
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: .5px;
    padding-bottom: .8em;
}
.project-card h4 {
    font-style: italic;
    padding-bottom: 1.1em;
}

/* link to github  */
.project-card .link {
    font-size: .8em;
    border-radius: 13px;
}
.project-card .link:hover {
    padding: 0.4em 1em;
}
.project-card .link img {
    height: .9em;
    margin-left: 0.2em;
}
.project-card .link a {
    width: 100%;
    height: 100%;
}

/* image container  */
.project-card .image {
    height: 16em;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: saturate(90%);
    filter: opacity(90%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transition-duration: 400ms;
    margin: .7em;
    margin-top: 0;

}
.project-card:hover .image {
    filter: saturate(100%);
    filter: opacity(100%);
}

/* tech list  */
.project-card ul {
    display: flex;
    gap: 0.4em;
    margin: 0 0 0.7em 0.7em;
}

.project-card ul > li {
    background-color: var(--pink);
    color: #ffffff;
    padding: 5px 8px;
    border-radius: 15px;
    font-size: .8em;
    font-weight: 500;
}

/* adjust size for small screens  */
@media screen and (max-width: 580px) {
    .project-card {
        font-size: 12px;
    }
}