.project-card {
    font-size: 15px;
    width: 26em;
    /* height: 32em; */
    margin: 0 4em;
    border: 1px solid rgb(40, 35, 33);


    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    cursor: pointer;
    transition-duration: 700ms;
    position: relative;
}
.project-card:hover {
    background-color: rgba(255, 244, 213, 0.607);
    /* font-size: 16.5px; */
}

/* section heading */
.projects .content > h3 {
    padding: 1em 0 3em;
}

/* text container  */
.project-card > .text {
    margin: 1.6em .7em;
    display: flex;
    flex-direction: column;
}

/* headers */
.project-card h2 {
    font-size: 1.4em;
    letter-spacing: .5px;
    padding-bottom: .8em;
}
.project-card h3 {
    font-size: 1.1em;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 1em;
}

/* tech list  */
.project-card ul {
    display: flex;
    gap: 0.9em;
    font-weight: 600;
}

/* image container  */
.project-card .image {
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: saturate(90%);
    filter: opacity(75%);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition-duration: 400ms;
    margin: .7em;
}
.project-card:hover .image {
    filter: saturate(100%);
    filter: opacity(100%);
}

/* adjust size for small screens  */
@media screen and (max-width: 580px) {
    .project-card {
        font-size: 12px;
    }
}