@font-face {
    font-family: WindSong;
    src: url('/src/assets/fonts/WindSong-Medium.ttf');
}

.home {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* name  */
.home h1 {
    white-space: nowrap;
    translate: -10px 0;
}

.line {
    height: 1em;
    width: 1px;
    background-color: var(--brown);
    margin-bottom: 2em;
    margin-top: 1em;
}

/* title  */
.home h2 {
    font-size: 16px;
}


@media screen and (max-width: 560px) {
    .home {
        font-size: 15px;
    }
}