.contact {
    height: 70vh;
    padding: 10vh 4vw 0;
    background-color: var(--brown);
    color: #f3e1d1;
    display: flex;
    flex-direction: column;
    gap: 6em;
}
/* header  */
.contact h3 {
    letter-spacing: 1px;  
    font-size: 2.4em;  
    font-weight: 100;
    text-align: left;
}

/* socials section */
.contact .socials {
    max-width: 26em;
    border-top: 1px solid #f3e1d177;
    text-align: left;
    font-weight: 200;
    color: #d2c1b2;
}

/* list items  */
.contact ul > li {
    margin: 0.8em 0;
}

/* links  */
.contact ul > li > a {
    font-weight: 300;
    transition-duration: 300ms;
}
.contact ul > li > a:hover {
    color: #ffffff;
}

/* copyright */
.contact p {
    font-size: 0.7em;
    text-align: left;
    margin-top: auto;
    padding-bottom: 20px;
}