.contact {
    height: 70vh;
    padding: 10vh 4vw 0;
    background-color: var(--brown);
    color: #f3e1d1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6em;
}
/* header  */
.contact h3 {
    letter-spacing: 3px;  
    font-size: 3em;  
    font-weight: 100;
}

/* content container  */
.contact > div {
    padding: 2em 1em;
    display: flex;
    justify-content: space-around;
    gap: 2em;
}

/* contact and socials sections */
.contact .contacts, .contact .socials {
    width: 100%;
    border-top: 1px solid #f3e1d177;
    text-align: left;
    font-weight: 200;
}

.contact h2 {
    font-weight: 400;
    font-size: 1.2em;
    margin: 1.2em 0;
}

.contact ul > li {
    margin: 0.8em 0;
}