.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: sticky;
    top: 0;
}

/* header lists  */
.header > ul {
    width: 250px;
    display: flex;
    justify-content: center;
}

/* header list items  */
.header > ul > li {
    margin: 10px;
}