@font-face {
  font-family: WindSong;
  src: url('/src/assets/fonts/WindSong-Regular.ttf');
}
@font-face {
  font-family: MissFajardose;
  src: url('/src/assets/fonts/MissFajardose-Regular.ttf');
}
@font-face {
  font-family: Dawn;
  src: url('/src/assets/fonts/DawningofaNewDay-Regular.ttf');
}

/* default styles  */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--brown);
  background: radial-gradient(at left top, #ecc0cf, #ece7d0);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  /* declare colour variables */
  --brown: #453f3f;
  --pink: #d188a0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: 5em;
  font-family: MissFajardose, cursive, serif;
  font-style: italic;
  letter-spacing: 2px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 12px;
}

button {
  margin: 0;
  border: none;
  padding: 0.4em 0;
  font-size: .7em;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: 600ms;
  font-weight: 500;
  background: linear-gradient(to left, transparent 34%, var(--pink) 65%) right;
  background-size: 300% 100%;
}
button:hover {
  color: #ffffff;
  background-position: left;
  padding: 0.4em 1.6em;
}
