@font-face {
  font-family: WindSong;
  src: url('/src/assets/fonts/WindSong-Regular.ttf');
}
@font-face {
  font-family: MissFajardose;
  src: url('/src/assets/fonts/MissFajardose-Regular.ttf');
}
@font-face {
  font-family: Dawn;
  src: url('/src/assets/fonts/DawningofaNewDay-Regular.ttf');
}
@font-face {
  font-family: pecita;
  src: url('/src/assets/fonts/pecita.book.otf');
}

/* default styles  */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: var(--brown);
  background: linear-gradient(100deg,rgb(230, 188, 198) 0%, rgba(227, 214, 211, 1) 59%, rgb(226, 236, 214) 94%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;

  /* declare colour variables */
  --brown: #453f3f;
  --pink: #d188a0;
}

a {
  color: inherit;
  text-decoration: inherit;
  position: relative;
  width: fit-content;
}

/* underline animation */
a.underline::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: var(--brown);
  transition: transform 0.25s ease-out;
  transform-origin: bottom center;
}
a.underline:hover::after,
a.underline:focus::after {
  transform: scaleX(1);
}

h1 {
  font-size: 7em;
  font-family: pecita, WindSong, cursive, serif;
  font-weight: 100;
  font-style: italic;
  color: #756868;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 13px;
}

button {
  margin: 0;
  border: none;
  padding: 0.4em 0;
  font-size: .7em;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: 600ms;
  font-weight: 500;
  background: linear-gradient(to left, transparent 34%, var(--pink) 65%) right;
  background-size: 300% 100%;
}
button:hover {
  color: #ffffff;
  background-position: left;
  padding: 0.4em 1.6em;
}
